<div class="w-80 p-3">

  <blockquote>
    <p>
      <% if @question.blank? %>
        😶
      <% else %>
        <%= @question %>
      <% end %>
    </p>
    <cite>You</cite>
  </blockquote>

  <blockquote class="coach">
    <p><%= @answer %></p>
    <cite>Your coach</cite>
  </blockquote>

  <%= link_to "Ask a new question", ask_path %>
</div>
