<div class="w-80 p-3">
  <h1> Stupid Coaching</h1>
  <p>Ask your coach anything:</p>

  <%# Create form using the input-group Bootstrap class %>
  <form action="/answer">
    <div class="input-group">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask" class="btn btn-primary">
    </div>
  </form>
</div>
