<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question" placeholder="Ask a question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
